{%include 'base.html' %}
<body>
    <form action=" " method = "POST">

        <form>
    <center>
    <form>
        <img src = "static/images/FIUlogo.png" alt = 'no image found' width="300" height="300">
        <div style="text-align: left; width: 50%; color: White;">
  <div class="mb-3">

    <label for="exampleInputEmail1" class="form-label">Username</label>
    <input type="text" class="form-control" name="username" aria-describedby="emailHelp">

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" name="password">
  </div>
  <button type="submit" class="btn btn-secondary">Submit</button>
    </form>
        <p>Don't have an account? <a href="signup.html">Sign Up</a></p>
        </center>
</body>